.title {
  composes: title from '../../../css/generic.css';
}

.minorTitle {
  composes: minorTitle from '../../../css/generic.css';
  margin-top: 0;
}

.minorDescription {
  composes: minorTitle from '../../../css/generic.css';
  text-align: center;
}

.benefitsTitle {
  font-size: 19px;
  margin: 0;
}

.benefitsText {
  margin-top: 0;
  line-height: 1.5;
}

.section {
  min-height: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  line-height: 1.5;
  flex-direction: column;

  @media (min-width: 768px) {
    line-height: 1.7;
    min-height: 43vw;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.first {
  composes: section;
  min-height: 100vh;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-image: url('http://res.cloudinary.com/dsie3eeqb/image/upload/v1474998995/bg-about_y7fmtx.jpg');

  @media (min-width: 768px) {
    min-height: 43vw;
  }
}

.second {
  composes: section;
  position: relative;
}

.bg {
  height: 87.5vw;
  width: 100%;
  background-image: url('http://res.cloudinary.com/dsie3eeqb/image/upload/v1475051438/bg-about2_wsso4o.jpg');

  @media (min-width: 768px) {
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.sliderContainer {
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.content {
  min-height: 87.5vw;
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;

  @media (min-width: 768px) {
    display: block;
    width: 50%;
    min-height: auto;
  }
}

.secondContent {
  composes: content;
}

.description {
  padding: 0 20px;

  p {
    text-align: justify;
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    padding: 15%;
  }
}

.minorDescription {
  padding: 10%;
}

.yellow {
  color: #fddc94;
}

.image {
  display: block;
  width: 100%;
  height: 87.5vw;
  object-fit: cover;

  @media (min-width: 768px) {
    width: 50%;
    height: 43vw;
  }
}

.logoContainer {
  composes: logoContainer from '../../../css/generic.css';
}

.videoWrapper {
  position: relative;
  padding-bottom: 87.5%;
  height: 0;

  @media (min-width: 768px) {
    padding-bottom: 42%;
    padding-top: 25px;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.items {
  composes: description;
  margin-bottom: 38px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.item {
  margin-top: 50px;
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

.link {
  composes: link from '../../../css/generic.css';
}

.quote {
  text-align: center;
  max-width: 630px;
  margin: 100px auto;
  padding: 0 20px;
}

.author {
  text-transform: uppercase;
  color: #fff;
}

.topDescription {
  max-width: 560px;
  padding: 0 20px;
}

.previous,
.next {
  width: 100%;
  height: 110px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    background-color: #141921;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
  }

  &::after {
    content: '';
    background-image: url('http://res.cloudinary.com/dsie3eeqb/image/upload/v1475062549/slide-about2_yg37ce.jpg');
    background-size: cover;
    opacity: 0.1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  @media (min-width: 768px) {
    width: 50%;
    height: 200px;
  }
}
