.section {
  composes: section from '../../../css/generic.css';
}

.sliderContainer {
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.content {
  composes: content from '../../../css/generic.css';
}

.description {
  composes: description from '../../../css/generic.css';
}

.minorTitle {
  composes: minorTitle from '../../../css/generic.css';
  margin-top: 0;
  text-transform: none;
}
