.logoContainer {
  composes: logoContainer from '../../../css/generic.css';
}

.categories {
  background-color: #353a3e;
  padding: 30px 0 25px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;

  * + * {
    margin-left: 23px;
  }

  :global .is-active {
    color: #2499dc;
  }
}

.catItem {
  display: inline-block;
}

.link {
  composes: link from '../../../css/generic.css';
  z-index: 0;
  display: none;

  @media(min-width: 768px){
    display: inline-block;
    opacity: 0;
    transition: opacity .4s;
  }
}

.title {
  composes: minorTitle from '../../../css/generic.css';
  color: #fddc94;
  max-width: 270px;

  @media(min-width: 768px){
    max-width: 485px;
  }
}

.items {

}

.item {
  position: relative;
  padding: 20px 15px 52px;
  width: 100%;
  min-height: 100vw;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('http://res.cloudinary.com/dsie3eeqb/image/upload/v1475003357/slide-about_buecme.jpg');

  @media(min-width: 768px){
    width: 50%;
    min-height: calc(50vw * .8);
    padding: 30px 30px 64px;

    &:nth-child(3) {
      width: 100%;

      .title {
        @media(min-width: 768px){
          max-width: 540px;
        }
      }
    }

    &:hover {
      .link, .category {
        opacity: 1;
      }
    }
  }


}

.category {
  font-weight: 600;

  @media(min-width: 768px){
    opacity: .6;
    transition: opacity .4s;
  }
}

.pagination {
  padding: 20px 0 40px;
  text-align: center;
  background-color: #353a3e;
  font-weight: 600;
  margin: 0;

  @media(min-width: 768px){
    padding: 45px 0 50px;
  }

  * + * {
    margin-left: 18px;
  }
}
