.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  margin: 20px;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  mix-blend-mode: difference;

  @media (min-width: 768px) {
    margin: 40px;
    /*mix-blend-mode: unset;*/
  }
}

.pageName {
  display: none;
  color: #fff;

  @media (min-width: 768px) {
    display: inline;
  }
}

.burgerLink {
  &:hover,
  &:focus {
    color: inherit;
  }
}
