.body {
  background: #f9f9f9;
  color: #1d1d1d;

  @media (min-width: 768px) {
    background: #d2d2d2;
  }
}

.post {
  position: relative;
  background: #f9f9f9;
  padding: 0 24px;
  line-height: 22px;
  font-size: 1.085rem;

  @media (min-width: 768px) {
    margin: -92px 11% 0;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 4.125em 16vw;
    line-height: 32px;
  }
}

.share {
  padding: 16px 0;
  max-width: 20px;

  svg {
    fill: #e5e5e5;
  }

  @media (min-width: 768px) {
    position: absolute;
    top: 5.125em;
    left: 24px;
    padding: 0;
  }
}

.preface {
  font-size: 1.35em;
  color: #868686;
  line-height: 1.5;
  margin-bottom: 70px;

  @media (min-width: 768px) {
    margin-bottom: inherit;
  }
}

.related {
  @media (min-width: 768px) {
    margin: 0 11%;
    padding-bottom: 84px;
  }
}

.relatedTitle {
  text-align: center;
  margin: 30px 0;
  color: #a6a6a6;
  font-size: 16px;
  font-weight: 800;
}

.item + .item {
  @media (min-width: 768px) {
    margin-left: 32px;
  }
}

.item {
  position: relative;
  padding: 20px 20px 50px;
  width: 100%;
  height: 100vw;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('https://res.cloudinary.com/dsie3eeqb/image/upload/v1475003357/smoliar/slide-about_buecme.jpg');
  box-shadow: 0 19px 39px 0 rgba(0, 0, 0, 0.5);

  @media (min-width: 768px) {
    width: calc(50% - 16px);
    height: 26vw;
    padding-bottom: 20px;

    &:hover {
      .link,
      .category {
        opacity: 1;
      }
    }
  }
}

.category {
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;

  @media (min-width: 768px) {
    opacity: 0.6;
    transition: opacity 0.4s;
  }
}

.itemTitle {
  composes: minorTitle from '../../../css/generic.css';
  font-size: 26px;
  text-align: left;
}

.link {
  composes: link from '../../../css/generic.css';
  z-index: 0;

  @media (min-width: 768px) {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.4s;
  }
}

.sliderWrapper {
  position: relative;
  margin: 45px -24px;

  @media (min-width: 768px) {
    margin: 75px calc(-16vw - 16px);

    :global .slick-slide {
      padding: 0 16px;
    }

    :global .slick-dots {
      right: 42px;
      transform: translateX(0);
    }
  }

  :global .slick-slider {
    box-shadow: none;
    width: 100%;
  }

  :global .slick-list {
    overflow: visible;
  }

  :global .slick-active img {
    opacity: 1;
  }

  :global .slick-slide img {
    transition: opacity 0.5s;
    width: 100%;
  }

  :global .slick-dots {
    right: 50%;
    transform: translateX(50%);
  }
}

.arrowPrev,
.arrowNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 10;
  width: 20px;
  height: 50px;

  @media (min-width: 768px) {
    right: 40px;
  }
}

.arrowPrev {
  right: auto;
  left: 10px;

  @media (min-width: 768px) {
    left: 40px;
  }
}

.blogText img {
  display: block;
  width: 100%;
  height: auto;
}
