.section {
  composes: section from '../../../css/generic.css';
}

.content {
  composes: content from '../../../css/generic.css';
}

.description {
  composes: description from '../../../css/generic.css';
}

.items {
  composes: description;
  margin-bottom: 38px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.item {
  margin-top: 50px;
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

.benefits {
  flex: 1;
}

.benefitsTitle {
  font-size: 19px;
  margin: 0;
}

.benefitsText {
  margin-top: 0;
  line-height: 1.5;
}
