.second {
  composes: section from '../../../css/generic.css';
  position: relative;
}

.bg {
  height: 87.5vw;
  width: 100%;
  background-image: url('https://res.cloudinary.com/dsie3eeqb/image/upload/v1475051438/smoliar/bg-about2_wsso4o.jpg');

  @media (min-width: 768px) {
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.content {
  composes: content from '../../../css/generic.css';
}

.description {
  composes: description from '../../../css/generic.css';
}

.title {
  composes: minorTitle from '../../../css/generic.css';
  margin-top: 0;
}
