.second {
  composes: section from '../../../css/generic.css';
  position: relative;
}

.bg {
  height: 87.5vw;
  width: 100%;
  background-size: cover;
  padding: 8% 0;
  background-origin: content-box;

  @media (min-width: 768px) {
    width: 50%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-size: contain;
  }
}

.posterImage {
  display: block;
  margin: 8% auto;
  width: 100%;
  height: auto;

  @media (min-width: 426px) {
    box-shadow: 8px 6px 70px 0 rgba(0, 0, 0, 0.35);
    width: inherit;
  }
}

.content {
  composes: content from '../../../css/generic.css';
}

.description {
  composes: description from '../../../css/generic.css';
}

.title {
  composes: minorTitle from '../../../css/generic.css';
  margin-top: 0;
  text-transform: none;
}
