:global .flexContainer {
  max-width: 100%;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #212427;
}

:global .flexColumn {
  display: flex;
  width: 13%;
  border: none;
  flex: 1 1 auto;
  font-size: 11px;
  color: rgba(#fff, 0.5);
  background: #1c1e20;
  padding: 10px;
  margin: 0 0 3px;
}

:global .day {
  border: 1px solid rgba(#fddc94, 0.15);
  background: inherit;
  font-size: 14px;
  margin: 0 3px 3px;
  height: 82px;
  position: relative;
}

:global .inner-grid {
  width: 100%;
  position: relative;
}

:global .event-slot {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}

:global .event-title {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  right: -8px;
  z-index: 100;
  height: 5px;
  font-size: 0;
}

:global .event-busy {
  :global .event-title {
    transform: translateY(-100%);
    background: #f37272;
  }
}

:global .event-unconfirmed {
  :global .event-title {
    transform: translateY(100%);
    background: #4ce799;
  }
}

:global .event-last-day {
  :global .event-title {
    right: 24px;
  }
}
