.icon {
  color: #fff;
  display: inline-block;
  fill: currentColor;
  vertical-align: middle;
  position: relative;
  top: -0.0625em;
}

.title {
  color: #fff;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 28px;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 38px;
  }

  @media (min-width: 1024px) {
    font-size: 42px;
  }
}

.minorTitle {
  font-weight: 800;
  line-height: 1.2;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 29px;
  }

  @media (min-width: 1024px) {
    font-size: 36px;
  }
}

.link {
  color: #fff;
  font-weight: 800;
  font-size: 18px;
  position: relative;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  z-index: 1;
  text-transform: lowercase;

  @media (min-width: 768px) {
    font-size: 22px;
  }

  &:hover {
    color: #fff;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -9px;
    right: -18px;
    height: 8px;
    display: block;
    background: #1287f4;
    z-index: -1;
  }
}

.logoContainer {
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  text-align: center;
  display: inline-block;
  z-index: 1;

  @media (min-width: 768px) {
    top: 38px;
  }
}

.workBlogCategories {
  background-color: #353a3e;
  padding: 30px 0 25px;
  text-align: center;
  font-weight: 600;

  * + * {
    margin-left: 23px;
  }

  :global .is-active {
    color: #2499dc;
  }
}

.workBlogItem {
  position: relative;
  padding: 20px 15px 52px;
  width: 100%;
  min-height: 100vw;
  display: inline-flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  background-image: url('https://res.cloudinary.com/dsie3eeqb/image/upload/v1478088844/smoliar/blog-bg.jpg');

  @media (min-width: 768px) {
    width: 50%;
    min-height: calc(50vw * 0.8);
    padding: 30px 30px 64px;

    &:nth-child(3) {
      width: 100%;

      .title {
        @media (min-width: 768px) {
          max-width: 540px;
        }
      }
    }

    &:hover {
      .link,
      .category {
        opacity: 1;
      }
    }
  }
}

.section {
  min-height: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  line-height: 1.5;
  flex-direction: column;

  @media (min-width: 768px) {
    line-height: 1.7;
    min-height: 43vw;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.content {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  min-height: 280px;

  @media (min-width: 768px) {
    display: block;
    width: 50%;
    min-height: auto;
  }
}

.description {
  padding: 0 20px;

  p {
    margin-bottom: 0;
  }

  h1 {
    color: #fff;
  }

  @media (min-width: 768px) {
    padding: 15%;
  }
}
