@import "../../node_modules/normalize.css/normalize.css";
@import "./jquery.fullPage.css";
@import "./base.css";
@import "./generic.css";
@import "https://fonts.googleapis.com/css?family=Lato:700,900|Open+Sans:400,700";

.mainContainer {
  position: relative;
}

:global .is-open {
  transform: translateY(0) !important;
}

:global .slick-slider {
  box-shadow: 20px 16px 16px 0 rgba(#000, 0.19);
}

:global .slick-track {
  width: 100%;
}

:global .slick-dots {
  position: absolute;
  bottom: 20px;
  right: 20px;

  li + li {
    margin-left: 20px;
  }

  li {
    display: inline-block;

    button {
      font-size: 1px;
      border-style: none;
      width: 14px;
      height: 14px;
      cursor: pointer;
      position: relative;
      background: none;

      &:before {
        content: '';
        position: absolute;
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTkgMTkiPjxzdHlsZT4uc3Qwe2ZpbGw6I2JlYmViZTt9PC9zdHlsZT48ZyBpZD0iWE1MSURfMl8iPjxwYXRoIGlkPSJYTUxJRF8zXyIgY2xhc3M9InN0MCIgZD0iTTEgMTJIMHY3aDd2LTFIMXYtNnpNMCAwdjdoMVYxaDZWMEgwem0xOCAxOGgtNi4ydjFIMTl2LTdoLTF2NnpNMTIgMHYxaDZ2NmgxVjBoLTd6Ii8+PC9nPjwvc3ZnPgo=');
      }

      &:focus {
        outline: none;
      }
    }
  }

  .slick-active {
    button {
      background: rgba(#fddc94, .7);
    }

  }
}
