@import "../../node_modules/normalize.css/normalize.css";
@import "./jquery.fullPage.css";
@import "./slick.css";
@import "./calendar.css";
@import "./base.css";
@import "./generic.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800";

.mainContainer {
  position: relative;
}

:global .container {
  overflow: hidden;
}

:global .is-open {
  transform: translateY(0) !important;
  visibility: visible !important;
  opacity: 1 !important;
}

:global .slick-slider {
  box-shadow: 20px 16px 16px 0 rgba(#000, 0.19);
}

:global .slick-track {
  width: 100%;
}

:global .slick-dots {
  position: absolute;
  bottom: 20px;
  right: 20px;

  li + li {
    margin-left: 20px;
  }

  li {
    display: inline-block;

    button {
      font-size: 1px;
      border-style: none;
      width: 14px;
      height: 14px;
      cursor: pointer;
      position: relative;
      background: none;

      &::before {
        content: '';
        position: absolute;
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTkgMTkiPjxzdHlsZT4uc3Qwe2ZpbGw6I2JlYmViZTt9PC9zdHlsZT48ZyBpZD0iWE1MSURfMl8iPjxwYXRoIGlkPSJYTUxJRF8zXyIgY2xhc3M9InN0MCIgZD0iTTEgMTJIMHY3aDd2LTFIMXYtNnpNMCAwdjdoMVYxaDZWMEgwem0xOCAxOGgtNi4ydjFIMTl2LTdoLTF2NnpNMTIgMHYxaDZ2NmgxVjBoLTd6Ii8+PC9nPjwvc3ZnPgo=');
      }

      &:focus {
        outline: none;
      }
    }
  }

  .slick-active {
    button {
      background: #a6a6a6;
    }
  }
}

:global .TopSlider {
  box-shadow: none;

  .slick-dots {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    text-align: center;
  }
}

:global .section {
  position: relative;
}

:global .dynamic-background {
  @media (min-width: 1350px) {
    background-size: 115% auto;
  }

  transition: background-size 1.4s ease-out;
  -moz-transition: background-size 1.4s ease-out;
  -web-kit-transition: background-size 1.4s ease-out;
}

:global .dynamic-background {
  @media (max-width: 1350px) {
    -webkit-transition: width 1.s;
    transition: width 1.1s;
  }
}

:global .dynamic-background:hover {
  @media (min-width: 1350px) {
    background-size: 130% auto;
  }
}

:global .dynamic-background:hover {
  @media (max-width: 1350px) {
    width: 105%;
  }
}

:global .dynamic-background p,
:global .dynamic-background h1,
:global .dynamic-background span {
    position: relative;
    opacity: 0.7;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    left: -1%;
    transition: left .4s linear;
}

:global .dynamic-background p {
  font-family: 'GothaProMed' !important;
}

:global .dynamic-background h1 {
  font-family: 'GothaProMed' !important;
}

:global .dynamic-background:hover p,
:global .dynamic-background:focus p,
:global .dynamic-background:hover h1,
:global .dynamic-background:focus h1,
:global .dynamic-background:hover span,
:global .dynamic-background:focus span{
  opacity: 1;
  left: 0;
} 