.logoContainer {
  composes: logoContainer from '../../../css/generic.css';
}

.categories {
  composes: workBlogCategories from '../../../css/generic.css';
  color: #a6a6a6;
  font-weight: 400;
}

.catItem {
  display: inline-block;
}

.link {
  composes: link from '../../../css/generic.css';
  z-index: 0;

  @media (min-width: 768px) {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.4s;
  }
}

.title {
  composes: minorTitle from '../../../css/generic.css';
  max-width: 270px;

  @media (min-width: 768px) {
    max-width: 485px;
  }
}

.item {
  composes: workBlogItem  from '../../../css/generic.css';
}

.category {
  visibility: hidden;
  opacity: 0;
}

.itemName {
  position: absolute;
  bottom: 30px;
}

.pagination {
  padding: 20px 0 40px;
  text-align: center;
  background-color: #353a3e;
  font-weight: 600;
  margin: 0;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    padding: 45px 0 50px;
  }

  * + * {
    margin-left: 18px;
  }

  :global .selected {
    color: #1287f4;
  }

  a {
    cursor: pointer;
  }
}
