.section {
  composes: section from '../../../css/generic.css';
}

.image {
  display: block;
  width: 100%;
  height: 87.5vw;
  object-fit: cover;

  @media (min-width: 768px) {
    width: 50%;
    height: 43vw;
  }
}

.content {
  composes: content from '../../../css/generic.css';
}

.text {
  padding: 10%;
  font-size: 22px;
  line-height: 28px;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 44px;
  }
}
