.section {
  min-height: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  line-height: 1.5;
  flex-direction: column;

  @media (min-width: 768px) {
    line-height: 1.7;
    min-height: 43vw;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.image {
  display: block;
  width: 100%;
  height: 87.5vw;
  object-fit: cover;

  @media (min-width: 768px) {
    width: 50%;
    height: 43vw;
  }
}

.content {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  min-height: 280px;

  @media (min-width: 768px) {
    display: block;
    width: 50%;
    min-height: auto;
  }
}

.text {
  padding: 10%;
  font-size: 22px;
  line-height: 28px;
}
