.content {
  padding: 0 60px;

  @media (min-width: 768px) {
    padding: 0 0 0 140px;
    max-width: 70%;
  }

  p {
    max-width: 590px;
    margin: 0 0 50px;

    span {
      text-transform: uppercase;
    }
  }
}

.logoContainer {
  composes: logoContainer from '../../../css/generic.css';
}

.linkScroll {
  display: none;
  position: absolute;
  bottom: 40px;
  left: 140px;
  font-weight: bold;
  font-size: 12px;

  @media (min-width: 768px) {
    display: inline-block;
  }

  &:hover,
  &:focus {
    color: inherit;
  }
}

.link {
  composes: link from '../../../css/generic.css';
  z-index: 1;
}

.title {
  composes: title from '../../../css/generic.css';
}

.footerContainer {
  composes: footerContainer from '../footer/style.css';
}

.contentContacts {
  composes: contentContacts from '../footer/style.css';
}

.footerTitle {
  composes: title from '../footer/style.css';
}

.row {
  composes: row from '../footer/style.css';
}

.email {
  composes: email from '../footer/style.css';
}

.schedule {
  composes: schedule from '../footer/style.css';
}

.footer {
  composes: footer from '../footer/style.css';
}

.social {
  display: inline-block;
}

.schedule,
.email {
  p {
    margin-bottom: 50px;
  }
}
